---
import { getCollection, CollectionEntry } from "astro:content";
import { ROUTES } from "../../consts";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="flex flex-col items-center">
    <a class="text-blue-500 underline" href={ROUTES.blog}>Blog</a>
    <article class="prose prose-slate dark:prose-invert">
      <Content />
    </article>
  </main>
</Layout>
