---
import { getCollection } from "astro:content";
import BlogCard from "../../components/blogCard.astro";
import Layout from "../../layouts/Layout.astro";
const allBlogPosts = await getCollection("blog");
---

<Layout title="Blog">
  <main class="flex flex-col items-center gap-8 text-gray-50">
    <h1 class="text-3xl font-semibold">Blog</h1>
    <div class="flex w-full max-w-2xl flex-col gap-8">
      {allBlogPosts.map((blog) => <BlogCard blog={blog} />)}
    </div>
  </main>
</Layout>
