---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reid Mason">
  <main class="w-full h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col items-center gap-2 mb-32">
      <h1 class="text-4xl font-semibold text-gray-50">Reid Mason</h1>
      <a
        class="text-blue-500 hover:underline hover:cursor-pointer text-xl"
        href="https://github.com/ReidMason">GitHub</a
      >
    </div>
  </main>
</Layout>
