---
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialLink from "../components/SocialLink.astro";
---

<div class="flex gap-4 github-link origin-top">
  <SocialLink
    text="GitHub"
    href="https://github.com/ReidMason"
    Icon={GitHubIcon}
  />
  <SocialLink
    text="LinkedIn"
    href="https://www.linkedin.com/in/reid-mason-566800139/"
    Icon={LinkedInIcon}
  />
</div>

<style>
  .github-link {
    animation: slide-in 500ms forwards cubic-bezier(0.57, 0.21, 0.69, 1.25);
    animation-delay: 250ms;
    @apply opacity-0;
  }

  @keyframes grow {
    from {
      transform: scale(0%);
      opacity: 0;
    }
    to {
      transform: scale(100%);
      opacity: 1;
    }
  }
</style>
