---
import Link from "./Link.astro";
const { href, text, Icon } = Astro.props;
---

<Link href={href}>
  <div class="flex items-center gap-1">
    <Icon
      className="h-6 w-6 text-gray-400 transition-colors group-hover:text-gray-200"
    />
    <span class="text-blue-500">{text}</span>
  </div>
</Link>
