---
import { getCollection } from "astro:content";
import BlogCard from "../../components/blogCard.astro";
import Layout from "../../layouts/Layout.astro";
const allBlogPosts = await getCollection("blogs");
---

<Layout title="Blogs">
  <main class="flex flex-col items-center">
    <div class="flex gap-8">
      {
        allBlogPosts.map((x) => (
          <BlogCard
            title={x.data.title}
            body={x.data.description}
            href={`/blogs/${x.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
